body, html {
    height: 100%;
  }
.nav-link{
    font-family: 'Parisienne', sans-serif;
    font-size: 25px;
    color: white !important;
}
.navbar{
    background-color:  rgba(0,0,0,0.5);
}
.navbar-brand{
    font-family: 'Dancing Script', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white !important;
}
.parallax { 
    background-image: url("https://lh3.googleusercontent.com/DNln1U_BzyJyu7N5DOlZHt_KqQaScBznRZz65u5cHqZ-Ez9BFUpdjtJZUQj8Ud7V5YoR70-FCGxk_d24XxCQy8OVxdCZgqFOywdrkyPnREIuMjTl90B_tjx_CjTFV05mxkALD3NQjQSpqeSnIHYZfC3_lxKLh7lnjdHZ_ipyXmilwaIyPGHI5seI0iy9eldXLhYkk6NZPGJlM10NEW-BcJyA-iULkKY73e6twJJkam0kW45JR-CTBKsrXLU7Tn_IifFoxMJ7A1pWCa41eYl4AHGaV3Ycs8G8G49zfEBcir0kE-WUUTrbVgzSPNHrGo7ZBh4PljLucQkiOan8fl-vpcG-DciiHBK8q2OMAAHBNf3srSh_cWGncwUmz7xI8Is929cmmlY6b2MM138WKZkV1sxAxuXJpT1kwSF2so7o2HTb1UzQ1WuB0Z3vGE7OQ47pjUSYZso8sba70-V4eLsalRmU4q2YLtbZEpWAKyfgyaE5dp8nGKu51P5YYRiL07sFntU6K3dhZdN-J-Ld2oKI6caAXaFXxztyNOzqoR-ei1LbBaPcaua4iwllJpNl6LVK_nQA0WrBz-5TuCmgpIJ28Bmmvm9c_m9p4tM4xy2U9Vuay-RDFv16ESgCMo4TU7N7vqfRQV6zTFzM3c2LvIZFLiPLPfFwOHg3-5gyMaxYSxd5rYPrNAj-CQ=w1138-h1516-no");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #mainContainer{
    height: 400px;
  }
  .separator{
    height: 40px;
  }
  .names{
    font-family: 'Parisienne', cursive;
    font-size: 65px;
    border-left: 3px solid brown;
    padding-left: 10px;
  }
  .paragraph{
      font-family: 'Italianno', cursive;
      font-size: 29px;
      padding: 0 20px;
  }